<div class="ps-version">
  <div class="ps-version__current">
    <div class="ps-version__name">
      LATEST
      <i class="md-icon ps-version-icon">arrow_drop_down</i>
    </div>
  </div>
  <ul class="ps-version__list">
    <li class="ps-version__item">
      <a href="https://plossys-5.docs.sealsystems.de" tabindex="-1">LATEST</a>
    </li>
    <li class="ps-version__item">
      <a href="https://v5.1.5.6382.plossys-5.docs.sealsystems.de" tabindex="-1">5.1.5.6382</a>
    </li>
    <li class="ps-version__item">
      <a href="https://v5.0.1.4245.plossys-5.docs.sealsystems.de" tabindex="-1">5.0.1.4245</a>
    </li>
  </ul>
</div>